{% extends "::base.html.twig" %}

{% block title %}AppBundle:Addressbook:list{% endblock %}

{% block content %}
    <h1>People List</h1>
    <table class="highlight responsive-table">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Street Address</th>
            <th>City</th>
            <th>ZIP</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Birthday</th>
            <th>Email</th>
            <th>Picture</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>

        {%  for person in people %}
        <tr>
            <td>{{ person.firstName }}</td>
            <td>{{ person.lastName }}</td>
            <td>{{ person.streetAddress }}</td>
            <td>{{ person.city }}</td>
            <td>{{ person.zip }}</td>
            <td>{{ countries[person.country] }}</td>
            <td>{{ person.phone }}</td>
            <td>{{ person.dob|date("Y-m-d") }}</td>
            <td>{{ person.email }}</td>
            <td>
                {% if person.picture %}
                    <img src="{{ asset('/uploads/' ~ person.picture ) | imagine_filter('thumb_filter') }}"/></td>
                {% endif %}
            <td>
                <a href="{{ url('view',   { 'id': person.id }) }}"><i class="material-icons">pageview</i></a>
                <a href="{{ url('create', { 'id': person.id }) }}"><i class="material-icons">edit</i></a>
                <a href="{{ url('delete', { 'id': person.id }) }}"><i class="material-icons">delete</i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
